<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/long bar.png" >
<br></br>
  <aside class="aside-bg">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 style="font-weight: bold; font-size: 32px;">Want to bring change together!</h2>
              <p class="aside-text-content">We are looking for creators and experts, 
                  who can join us in our mission to bring a wave of passion!</p>
                  <br>
              <a href="https://api.whatsapp.com/send/?phone=918299736190&text=Hi%2C%20I%20am%20interested%20in%20associating%20with%20wave%20club" 
              class="btn btn-default btn-xl wow tada" style="color: white; background-color: blue; font-size: 18px;">
                Be a part of Wave!</a>
          </div>
      <br></br>
      <br></br>
      <br></br>
  </aside>
